# --- FMS ENVIRONMENT VARIABLES EXAMPLE ---
# Copy file này thành file .env và điền giá trị thực tế của bạn

# SERVER CONFIG
SERVER_PORT=8080

# DATABASE CONFIG
POSTGRES_DB=fms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789
POSTGRES_PORT=5432

# REDIS CONFIG
REDIS_PORT=6379

# JWT SECURITY CONFIG
# Secret key should be at least 64 characters
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=28800000
